// fonts

$pretty-font: 'Poiret One';
$slab-font: 'Slabo 13px';
$serif-font: 'Libre Baskerville';
$sans-sarif-font: 'Lato';
$handwritting-font: 'Amatic SC';

// spacing

$tiny-spacing: 5px;
$small-spacing: 10px;
$medium-spacing: 15px;
$big-spacing: 20px;
$huge-spacing: 30px;
$mega-spacing: 40px;


// colors

$black: #2b332a;
$white: #fff;
$nav-bg: #cad8c3;
$alt-bg: #e2efdb;
$body-bg: #d4e6cb;
